* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

img {
    width: clamp(300px, 50%, 800px);
}

.button {
    background-color: transparent;
    border: 2px solid #009DCF;
    border-radius: 10px;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.button:hover {
    cursor: pointer;
    background-color: #009DCF;
    color: white;
    transition: 0.5s;
}